/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
  
}
div{

  height: 100px;
  width: 90vw;
  margin: auto;
  margin-top: 200px;
  color: rgb(161, 178, 34);
  background-color: rgb(11, 11, 12);
  box-shadow: 4px 3px red;
  text-align: center;
  font-size: 40px;


  
}
div h2{
  width: 35vw;
  background-color: aliceblue;
  margin: auto;
  margin-top: 20px;
 border: 2px solid rgb(27, 22, 22);
 box-shadow: 4px 3px red;


}
 */
